<!DOCTYPE html>
<html>

  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
    <title>{% block title %}{% endblock %} | Flack</title>
    {% endblock %}
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Bootstrap, MD CSS -->
    <link rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!-- Main CSS -->
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet">    
  </head>

  <body class="text-center">
    <form class="form-signin" action="{{url_for('main')}}" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Pick a Name</h1>
      <label for="usernameInput" class="sr-only">Email address</label>
      <input type="username" id="usernameInput" class="form-control" placeholder="Username" required autofocus>
      <!-- <label for="inputPassword" class="sr-only">Password</label> -->
      <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
      <p class="mt-2 mb-3 text-muted">Your username will be stored. Your past 100 messages will be stored on our server(s). By clicking sign in, you agree to these terms.</p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2019 | Joseph Semrai</p>
    </form>
  </body>
</html>
