{% extends "base.html" %}

{% block title %}
Order
{% endblock %}

{% block body %}
<h1 class="m-5">Welcome, {{user.username}} | Please select an item</h1>
<div class="row">
    <div class="card bg-dark m-3 col-8">
        <div class="row">
                {% for item in menuitems %}
                <div class="d-inline-flex p-2 card m-3 w-25 text-center">
                    <h5 class="card-header">{{item.name}}
        
                        {% if item.toppingAmount == 1 %}
                        ({{item.toppingAmount}} topping)
                        {% elif item.toppingAmount %}
                        ({{item.toppingAmount}} toppings)
                        {% endif %}
        
                    </h5>
                    <div class="card-body">
                        {% if item.smallPrice %}
                        <h5 class="card-title">Small - {{item.smallPrice}}</h5>
                        <h5 class="card-title">Large - {{item.largePrice}}</h5>
                        {% else %}
                        <h5 class="card-title">{{item.price}}</h5>
                        {% endif %}
        
        
                        <p class="card-text">{{item.id}}</p>
        
                        <a href="{% url 'order' category=itemcategory %}?item_id={{item.id}}" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
                {% endfor %}
        </div>
        
    </div>

    <div class="card m-3 col">
        
            <div class="card-body row">
                <div class="col">
                        <h1><b>Your Cart</b></h1>
                        Order #{{cart.id}} | <b>{{cart.orderStatus}}</b> <br>
                </div>
                <div class="col">
                        <h1 class="text-right my-auto text-success"><b>${{cart.orderPrice}}</b></h1>
                        {% if cart.itemorder_set.all %}
                        <form action="{% url 'finishorder'%}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="text-right btn btn-outline-primary float-right">Checkout</button>
                        </form>
                        {% endif %}
                </div>
        </div>

        {% for item in cart.itemorder_set.all %}
        <div class="card m-2">
                <div class="card-body row">
                    <div class="col-8">
                            <h5><b>{{item.itemName}}</b></h5>

                            {% if item.toppings.all %}
                            <p class="p-0 m-0"><b>Toppings</b></p>
                            {% for topping in item.toppings.all %}
                            <li class="p-0 m-0">{{topping.name}}</li>
                            {% endfor %}

                            {% endif %}

                            {% if item.addons.all %}
                            <p class="p-0 m-0"><b>Addons</b></p>
                            {% for addon in item.addons.all %}
                            <li class="p-0 m-0">{{addon.name}} | + {{addon.price}}</li>
                            {% endfor %}
                            {% endif %}
                            
                    </div>
                    <div class="col align-self-center">
                            <h4 class="text-right my-auto text-warning"><b>${{item.itemPrice}}</b></h4>

                            <form action="{% url 'removeitem'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="removeid" value="{{item.id}}">
                                <button type="submit" class="text-right btn btn-outline-primary float-right">Remove Item</button>
                            </form>
                    </div>
                </div> 
            </div>

        {% endfor %}
        

    </div>

</div>


{% endblock %}