body {
	font-family: 'Open Sans', sans-serif;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: white;
	background-color: #8e44ad;
	padding: 1.2vmin 1.2vmin 1.2vmin 4.2vmin;
	font-size: 1.5vw;
}

button {
	margin: .8vmin;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2vmin;
}


.form-control {
	color: black;
	border: 2px white solid;
	border-radius: 16vmin;
	font-size: .7em;
	margin-top: .8vmin;
	padding: 1vmin;
}