{% extends "loggedinlayout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="row py-5" style="width:100%">
    
        <!-- Card -->
        <div class="card mx-auto text-center" style="width: 50vw; height:75vh;">

            <!-- Card image -->
            <div class="view overlay h-50">
            <img class="card-img-top" src="{{ url_for('static', filename="images/bookstack.jpg") }}" alt="Card image cap">
                <div class="mask rgba-white-slight"></div>
            </div>
        
            <!-- Card content -->
            <div class="card-body">
        
            <!-- Title -->
            <h1 class="card-title">Welcome {{username}}!</h1>
            <!-- Text -->
            <h3 class="text-muted">"Books are like books, but slightly more like a novel which is a type of book."</h3>
            <h3 class="font-italic mb-5">- Someone, 2019</h3>
            <!-- Button -->
            <a href="{{ url_for('search') }}" class="btn btn-primary p-5 font-weight-bold" style="font-size:1.5vh">Start Searching</a>
            <a href="{{ url_for('signout') }}" class="btn btn-primary p-5 font-weight-bold" style="font-size:1.5vh">Sign Out</a>
        
            </div>
    
        <!-- Card -->

    </div>

</div>

{% endblock %}
