<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>{% block title %}{% endblock %} | Rate Your Book</title>
    {% endblock %}
    <!-- Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{{ url_for('static', filename='styles/mdb.min.css') }}" rel="stylesheet">
  <!-- Main CSS -->
  <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet" >
  </head>

<body>
    {% block navbar %}
    <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange">
        <a class="navbar-brand" href="{{ url_for('index')}}">Rate Your Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
          <ul class="navbar-nav mr-auto">
            
            <li {%- if request.path == "/" %} class="nav-item active" {% else %} class ="nav-item"{% endif %}>
              <a class="nav-link" href="{{ url_for('index') }}">Info</a>
            </li>
            <li {%- if request.path == "/login" %} class="nav-item active" {% else %} class ="nav-item"{% endif %}>
                <a class="nav-link" href="{{ url_for('login') }}">Sign Up
                    <span class="sr-only">(current)</span>
                </a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item" href="#">Preferences (Coming Never)</a>
                <a class="dropdown-item" href="#">Contact</a>
                <a class="dropdown-item" href="{{ url_for('login') }}">Sign In</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->
    {% endblock %}
        {% block content %}
        {% endblock %}

    <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/mbd.min.js') }}"></script>
</body>

</html>