{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}
{{ super() }}
<style>
body {
    color: white;
    background-image: url({{ url_for('static', filename='images/bookstack.jpg') }});
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#registration {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#signup {
    background-color: rgba(22, 160, 133,.7);
    background-image: url({{ url_for('static', filename='images/black-paper.png')}});
    border-radius: 30px;
    padding: 4vmax;
    margin: 2vmax;
    text-align: center;
}

#signin {
    background-color: rgba(39, 174, 96,.7);
    background-image: url({{ url_for('static', filename='images/black-paper.png')}});
    border-radius: 30px;
    padding: 4vmax;
    margin: 2vmax;
    text-align: center;
}


</style>
{% endblock %}
{% block content %}
<h1>Welcome!</h1>

<div id="registration">
        <div id="signup">
                <h2>Please Register</h2>
                <form action="{{ url_for('login') }}" method="post">
                    {{error}}
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password">
                    </div>
                
                    <div class="form-group">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
        </div>
        
        
        <div id="signin">
                <h2>Please Sign In</h2>
                <form action="{{ url_for('home') }}" method="post">
                    {{error}}
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password">
                    </div>
                
                    <div class="form-group">
                        <button class="btn btn-primary">Sign In</button>
                    </div>
                </form>
        </div>
</div>



{% endblock %}