{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Welcome!</h1>

<div class="row">
        <div class="col-md-8" id="signup">
            <!-- Card -->
<div class="card card-cascade narrower">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header purple-gradient">
      
          <!-- Title -->
          <h2 class="card-header-title">Ally Cook</h2>
          <!-- Subtitle -->
          <h5 class="mb-0 pb-3 pt-2">Follow me</h5>
      
          <!-- Facebook -->
          <a type="button" class="btn-floating"><i class="fab fa-facebook-f"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn-floating"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn-floating"><i class="fab fa-google-plus-g"></i></a>
      
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
      
          <!-- Text -->
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
      
        </div>
      
      </div>
      <!-- Card -->
                <h2>Please Register</h2>
                <form action="{{ url_for('login') }}" method="post">
                    {{error}}
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password">
                    </div>
                
                    <div class="form-group">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
        </div>
        
        
        <div class="col-md-4" id="signin">
                <h2>Please Sign In</h2>
                <form action="{{ url_for('home') }}" method="post">
                    {{error}}
                    <div class="form-group">
                        <input class="form-control" name="name" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password">
                    </div>
                
                    <div class="form-group">
                        <button class="btn btn-primary">Sign In</button>
                    </div>
                </form>
        </div>
</div>



{% endblock %}