{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block head %}
{{ super() }}
<style>

</style>
{% endblock %}
{% block content %}
<br>
<h1>Welcome to RYB!</h1>
<div class="alert alert-danger" role="alert">
        {{error}}
      </div>

    <div class="row">
    
      <!-- Column -->
      <div class="col-md-4 mb-4 d-flex align-items-stretch">
    
        <!--Card-->
        <div class="card">
    
          <!--Card content-->
          <div class="card-body">
                <form class="text-center border border-light p-5" action="{{ url_for('login') }}" method="post">

                        <p class="h4 mb-4">Sign up</p>
            
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- First name -->
                                <input name="name" type="text" id="defaultRegisterFormFirstName" class="form-control"
                                    placeholder="Username">
                            </div>
                        </div>
                        <!-- Password -->
                        <input name="password" type="password" id="defaultRegisterFormPassword" class="form-control"
                            placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                            At least 8 characters and 1 digit
                        </small>
            
            
                        <!-- Newsletter -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                            <label class="custom-control-label" for="defaultRegisterFormNewsletter">Agree to terms</label>
                        </div>
            
                        <!-- Sign up button -->
                        <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>
            
                        <!-- Terms of service -->
                        <p>By checking
                            <em>agree to terms</em> you agree to our
                            <a href="" target="_blank">terms of service</a>
            
                    </form>
          </div>
    
        </div>
        <!--/.Card-->
    
      </div>
      <!-- Column -->
    
      <!-- Column -->
      <div class="col-md-4 mb-4 d-flex align-items-stretch">
    
        <!--Card-->
        <div class="card">
    
          <!--Card image-->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(133).jpg" class="card-img-top"
              alt="">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <div class="text-center"><h4 class="card-title centered">RYB is a...</h4>
            <p class="card-text">Community of book lovers like you. Explore new genres and look at your favorite artists.</p>
            </div>
            
          </div>
    
        </div>
        <!--/.Card-->
    
      </div>
      <!-- Column -->
    
      <!-- Column -->
      <div class="col-md-4 mb-4 d-flex align-items-stretch">
    
        <!--Card-->
        <div class="card">
    
          <!--Card content-->
          <div class="card-body">
            <!-- Default form login -->
        <form class="text-center border border-light p-5" action="{{ url_for('home') }}" method="post">

                <p class="h4 mb-4">Sign in</p>
    
                <!-- Username -->
                <input name="name" type="username" id="defaultLoginFormEmail" class="form-control mb-4"
                    placeholder="Username">
    
                <!-- Password -->
                <input name="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4"
                    placeholder="Password">
    
                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div> 
                    <div>
                        <br>
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>
    
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
    
                <!-- Register -->
                <p>Not a member?
                    <a href="">Register</a>
                </p>
    
            </form>
            <!-- Default form login -->
    
        </div>
        <!--/.Card-->
    
      </div>
      <!-- Column -->
    
    </div>
 

</div>


{% endblock %}