{% extends "loggedinlayout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container-fluid w-75">


  <div class="row ml-4 mr-4">
    <div class="col-md-3 mt-4">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Top Books</h5>
          <p class="card-text">

            <ol style="overflow:hidden; overflow-y:scroll; min-height: 50vh; max-height:50vh">
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>
              <li>Bruh</li>

            </ol>
          </p>
          <a href="#" class="btn btn-warning">See More</a>
        </div>
      </div>


    </div>
    <div class="col-md-6 mt-4">
      <div class="card">
        <div class="card-body text-center">
          {% if resulterror %}
          <div class="alert alert-danger" role="alert">
            {{resulterror}}
          </div>
          {% endif %}
          <h1 class="font-weight-bold">Begin your search, {{username}}! <h2>Search our database of over 5,000 books!
            </h2>
          </h1>
          <!-- Material auto-sizing form -->
          <form action="{{ url_for('results') }}" method="post">
            <!-- Grid row -->
            <div class="d-flex flex-row align-items-center mr-3 ml-2">
              <!-- Grid column -->
              <div class="col-md-9 md-form">
                <input type="text" class="form-control" id="inlineFormInputMD" name="searchquery"
                  placeholder="Search via Title, ISBN, Author, or Year">
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </form>
          <!-- Material auto-sizing form -->
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body text-center">
          <h3 class="font-weight-bold">Quote of the Day</h3>
          <p class="font-italic">"What has my life come to? I'm sitting in an empty room, behind my wooden pc watching a guy play a card game for children, probably earning my yearly salary in a week's time. All of my ambitions are now gone. Only thing that i have left is my old pc and a memory of who i once was..."</p>
          <p class="font-muted">- TwitchQuotes</p>
        </div>
      </div>

      <div class="card mt-4 bg-dark text-white">
        <div class="card-body">
          <h3 class="font-weight-bold text-center">Important Updates</h3>
          <ul class="font-italic">
            <li>We added some new stuff</li>
            <li>We added some new books</li>
            <ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="card text-right">
        <div class="card-body">
          <h5 class="card-title">Had enough?</h5>
          <p class="card-text">We're glad you're here with us, but if you'd like to sign out, please click the button
            below.</p>
          <a href="{{ url_for('signout') }}" class="btn btn-secondary">Sign Out</a>
        </div>
      </div>
      <div class="card text-right mt-4">
        <div class="card-body">
          <h5 class="card-title">Concerned about privacy?</h5>
          <p class="card-text">Delete your account. (doesn't actually delete your account)</p>
          <a href="{{ url_for('signout') }}" class="btn btn-danger">Destroy Account</a>
        </div>
      </div>
      <div class="card text-right mt-4">
        <div class="card-body">
          <h5 class="card-title">Check out the source code on GitHub!</h5>
          <p class="card-text">Feel free to give me stars since I'm desperate for them. (maybe not on this repo since
            this code is definitely not something I want people to see)</p>
          <a href="{{ url_for('signout') }}" class="btn btn-info">Check it out</a>
        </div>
      </div>
    </div>

  </div>
  {% endblock %}